body {
  background-color: #f7f7f7;
  color: #454951;
}

input.form-control {
  background-color: rgba(255, 255, 255, 0.4);
}

.btn.btn-primary,
.btn.btn-default {
  display: inline;
  width: 100%;
  background-color: transparent;
  color: #f7f7f7;
  border-width: 3px;
  border-color: #f7f7f7;
  border-style: solid;
  transition-property: all;
  transition-duration: .33s;
}

.btn.btn-primary:hover,
.btn.btn-default:hover {
  background-color: rgba(247, 247, 247, 0.6);
  color: #f7f7f7;
  transition-property: all;
  transition-duration: .33s;
}

.btn.btn-primary:focus,
.btn.btn-default:focus {
  background-color: #f2784b;
  border-width: 3px;
  border-color: #f7f7f7;
  border-style: solid;
}

.jumbotron {
  position: relative;
  width: 50vw;
  height: 60vh;
  margin: auto;
  margin-top: 20vh;
  padding: 25px;
  background-color: rgba(69, 73, 81, 0.4);
  background-size: cover;
  color: #f7f7f7;
}

.jumbotron p.has-error.ng-hide {
  visibility: hidden;
}

.jumbotron p.has-error {
  visibility: visible;
}

.jumbotron .container-fluid {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

form > * {
  margin: 5px;
}
