* {
  outline: 0 !important;
}

.x-small {
  font-size: 0.65em !important;
}

.hidden {
  visibility: hidden;
}

p.has-error {
  color: #ef4836;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.container.no-gutter,
.container-fluid.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-left: 0;
  padding-right: 0;
}

body {
  background-color: #f7f7f7;
  color: #454951;
}

.btn {
  border-radius: 0;
  border: none;
  color: #f7f7f7;
}

.btn.btn-primary {
  background-color: #f2784b;
  transition-duration: .33s;
  transition-property: all;
}

.btn.btn-default {
  background-color: #34495e;
}

.form-control {
  border: none;
  border-radius: 0;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #f7f7f7;
}

.form-control:focus {
  box-shadow: none;
  border-bottom-color: #f2784b;
}
