// compileExpanded: ../styles/$1.$2.css

@import "palette";

#chat-container {
    position: absolute;
    top: 0;
    left: 300px;

    width: calc(100% - 300px);
    height: 100vh;

    & > div {
        position: relative;

        width: 100%;
        height: 100%;
    }
}

#chat-area {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    background-color: transparentize($lightBg, 0.4);

    #msg-container {
        position: absolute;
        bottom: 0;
    }
}

#msg-area {
    height: 100%;
}

#msg-box-container {
    width: 100%;
    margin-bottom: 30px;

    & > div > div.col-md-2.col-xs-2 {
        height: 45px;

        .row {
            height: 100%;

            & > div {
                height: 100%;
            }
        }

        button {
            width: 100%;
            height: 100%;

            float: none;

            margin: 0;
            padding: 0;

            background-color: transparentize($darkBg, 0.6);
            border: none;

            border-left-width: 1px;
            border-left-style: solid;
            border-left-color: $lightBg;

            color: $lightBg;

            transition-property: all;
            transition-duration: .33s;

            & > i {
                font-size: 1.5em;
            }

            &:hover {
                color: $orange;
            }
        }
    }
}

#msg-box {
    width: 100%;
    height: 45px;

    resize: none;

    font-size: .9em;

    border: none;

    background-color: transparentize($darkBg, 0.6);
    color: $lightBg;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

    width: 300px;
    height: 100vh;

    background-color: transparentize($darkBg, 0.6);

    .sidebar-btns {
        list-style: none;

        margin: 0;
        padding: 0;

        .btn.btn-default {
            width: 100%;

            background-color: transparent;

            border-bottom-width: 3px;
            border-bottom-style: solid;
            border-bottom-color: $lightBg;

            border-right-width: 1px;
            border-right-style: solid;
            border-right-color: transparentize($darkBg, 0.2);

            transition-property: all;
            transition-duration: .33s;

            &:hover {
                border-bottom-color: $orange;
                color: $orange;
            }

            &:focus,
            &:active {
                color: $orange;
            }
        }
    }
}

nav.navbar.navbar-default {
    min-height: 35px !important;

    margin: 0;
    padding: 0;

    background-color: transparentize($darkBg, 0.6);
    color: $lightBg;

    border: none;
    border-radius: 0;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: $lightBg;

    .container-fluid {
        padding-left: 0;
    }

    .navbar-header {
        margin: 0;

        .btn.btn-default {
            float: none;

            margin: 0;
            margin-left: 5px;
            padding: 0;

            vertical-align: middle;

            height: 32px;

            background-color: transparent;
            border: none;

            color: $lightBg;

            transition-property: all;
            transition-duration: .33s;

            & > i {
                font-size: 1.5em;
            }

            &:hover {
                color: $orange;
            }
        }

        .navbar-brand {
            display: inline;
            vertical-align: middle;

            float: none;

            margin: 0;
            margin-left: 5px;
            padding: 0;

            color: $lightBg;
        }
    }

    #account-btns {
        .btn.btn-default {
            float: none;

            margin: 0;
            margin-left: 5px;
            padding: 0;

            vertical-align: middle;

            height: 32px;

            background-color: transparent;
            border: none;

            color: $lightBg;

            transition-property: all;
            transition-duration: .33s;

            & > i {
                font-size: 1.5em;
            }

            &:hover {
                color: $orange;
            }
        }
    }
}
