// compileExpanded: ../styles/$1.$2.css

@import "palette";

* {
    outline: 0 !important;
}

.x-small {
    font-size: 0.65em !important;
}

.hidden {
    visibility: hidden;
}

p.has-error {
    color: $errorText;
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.container.no-gutter,
.container-fluid.no-gutter {
    padding-left: 0;
    padding-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-left: 0;
    padding-right: 0;
}

body {
    background-color: $lightBg;
    color: $darkBg;
}

.btn {
    border-radius: 0;
    border: none;

    color: $lightBg;

    &.btn-primary {
        background-color: $orange;

        transition-duration: .33s;
        transition-property: all;
    }

    &.btn-default {
        background-color: $paleBlue;
    }
}

.form-control {
    border: none;
    border-radius: 0;

    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: $lightBg;

    &:focus {
        // box-shadow: 0px 0px 12px -1px rgba(242,120,75,1);
        box-shadow: none;
        border-bottom-color: rgba(242, 120, 75, 1);
    }
}
