<link rel="stylesheet" href="../styles/chat.scss.css">
<div class="sidebar container-fluid">
    <div class="row">
        <ul class="sidebar-btns">
            <li class="col-md-6 col-xs-6">
                <button class="btn btn-default">
                    <i class="mdi mdi-chevron-right"></i>
                    Join Room
                </button>
            </li>
            <li class="col-md-6 col-xs-6">
                <button class="btn btn-default">
                    <i class="mdi mdi-plus"></i>
                    Create Room
                </button>
            </li>
        </ul>
    </div>
    <ul class="sidebar-items">

    </ul>
</div>
