<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JibrJabr</title>

    <link rel="stylesheet" href="../styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="../styles/theme.scss.css">
    <link rel="stylesheet" href="../styles/index.scss.css">

    <script src="../bower_components/socket.io-client/socket.io.js"></script>
    <script src="../bower_components/firebase/firebase.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- my files -->
    <script src="../scripts/jibrjabr.js"></script>
    <script src="../scripts/loginController.js"></script>
    <script src="../scripts/chatController.js"></script>
</head>
<body ng-app="jibrjabr">
    <main ng-controller="mainCtrl as main">
        <div ui-view></div>
        <figure class="bg-image"></figure>
    </main>
</body>
</html>
